<div class="row">

    <div class="col-sm-12 myHeader" style="background:url(images/headerBG.jpeg);background-size:cover;background-repeat:no-repeat;">
        <div class="myBg"></div>
        <div class="col-sm-8 myLogo">
            <!-- <img src="images/logo.png" /> -->
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                <button style="background:gray;" ng-click="readyOrders()">Ready Orders</button>
            </div>
            <div class="col-sm-6">
                <!-- <button style="background:#FF0000;">Canceled</button> -->
            </div>
        </div>
    </div>
    <!-- end of header -->
    <div class="col-sm-12 myContent">
        <div class="myMenuItems">
            <div class="tabHeading">
                <p style="width:50%;float:left;"> Table 1</p>

            </div>
            <!-- <div class="tabHeading2">
                <p style="width:50%;float:left;">Table 2</p>
            </div>
            <div class="tabHeading3">
                <p style="width:50%;float:left;"> Table 3</p>
            </div> -->

            <div class="tabContent">
                <p style="width:50%;float:right;text-align:right;">13:22</p>
                <p>
                    <span>Muffins</span>
                    <i>x5</i>
                </p>
                <h3>No Specials</h3>
                <p style="width:50%;float:right;text-align:right;">13:22</p>
                <p>
                    <span>Bacon and eggs</span>
                    <i>x3</i>
                </p>
                <h3>No Specials</h3>
                <p style="width:50%;float:right;text-align:right;">13:22</p>
                <p>
                    <span>Platter 2</span>
                    <i>x2</i>
                </p>
                <h3>Extra Tomato Sauce</h3>
                <div class="orderProgress">
                    <button style="background: black">Receive</button>
                    <button style="background: blue;">Prepare</button>
                    <button style="background: greenyellow">Complete</button>
                </div>
            </div>

        </div>
        <div class="myMenuItems">
            <div class="tabHeading2">
                <p style="width:50%;float:left;"> Table 2</p>

            </div>
            <!-- <div class="tabHeading2">
                    <p style="width:50%;float:left;">Table 2</p>
                </div>
                <div class="tabHeading3">
                    <p style="width:50%;float:left;"> Table 3</p>
                </div> -->

            <div class="tabContent">

                <p style="width:50%;float:right;text-align:right;">13:30</p>
                <p>
                    <span>Juice</span>
                    <i>x2</i>
                </p>
                <h3>No Specials</h3>
                <div class="orderProgress">
                    <button style="background: black">Receive</button>
                    <button style="background: blue;">Prepare</button>
                    <button style="background: greenyellow">Complete</button>
                </div>
            </div>

        </div>
        <div class="myMenuItems">
                <div class="tabHeading3">
                    <p style="width:50%;float:left;"> Table 3</p>
    
                </div>
                <!-- <div class="tabHeading2">
                        <p style="width:50%;float:left;">Table 2</p>
                    </div>
                    <div class="tabHeading3">
                        <p style="width:50%;float:left;"> Table 3</p>
                    </div> -->
    
                <div class="tabContent">
    
                    <p style="width:50%;float:right;text-align:right;">14:02</p>
                    <p>
                        <span>Chicken Salad</span>
                        <i>x1</i>
                    </p>
                    <h3>Extra Green Salad</h3>
                    <p style="width:50%;float:right;text-align:right;">14:02</p>
                    <p>
                        <span>English Breakfast</span>
                        <i>x2</i>
                    </p>
                    <h3>No Specials</h3>
                    <p style="width:50%;float:right;text-align:right;">14:02</p>
                    <p>
                        <span>Mogodu</span>
                        <i>x3</i>
                    </p>
                    <h3>Extra Dumpling</h3>
                    <div class="orderProgress">
                        <button style="background: black">Receive</button>
                        <button style="background: blue;">Prepare</button>
                        <button style="background: greenyellow">Complete</button>
                    </div>
                </div>
    
            </div>
    </div>
    <!-- end of content -->
</div>
<!-- end of body -->


<script>

</script>