<div class="row">
    
    <div class="col-sm-12 myHeader"style="background:url(images/headerBG.jpeg);background-size:cover;background-repeat:no-repeat;">
        <div class="myBg"></div>
         <div class="col-sm-8 myLogo">
            <!-- <img src="images/logo.png"/> -->
        </div>
        <div class="col-sm-4">
            <div class="col-sm-6">
                <button style="background:gray ;" ng-click="home()" >BACK</button>
            </div>
        </div>

        
    </div><!-- end of header -->
    <div class="col-sm-12 myContent">

        <div class="myMenuItems" >
            <div class="tabHeading">
                <p style="width:50%;float:left;">Table 7</p>
                <p style="width:50%;float:right;text-align:right;">09:04</p>
            </div>
            <div class="tabContent">
                <p>
                    <span>English Breakfast</span>
                    <i>x1</i>   
                </p>
                <h3>More eggs</h3>
            </div>
        </div>
    </div>
    <!-- end of content -->
 </div><!-- end of body -->

 
<script>
   
</script>